# 01. Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing data

In [2]:
path = r'C:\Users\santi\HiDrive\users\santina\02_Data Analytics\04_Python-Fundamentals\02-2022 Instacart Basket Analysis'

In [3]:
path

'C:\\Users\\santi\\HiDrive\\users\\santina\\02_Data Analytics\\04_Python-Fundamentals\\02-2022 Instacart Basket Analysis'

In [4]:
# 3. In a new notebook, import the orders_products_combbined dataframe from the pickle file you just saved.
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02_Data', 'Prepared Data', 'orders_products_combined.pkl' ))

In [5]:
# 4. Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).
df_orders_products_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,True,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,True,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,True,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,True,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,True,26405,5,0,both

In [6]:
df_orders_products_combined.shape

(32434489, 13)

In [7]:
df_product = pd.read_csv(os.path.join(path, '02_Data', 'Prepared Data', 'products_cleaned.csv'), index_col = False)

In [8]:
df_product.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
df_product.shape

(49672, 6)

In [10]:
# remove unnecessary column
df_products = df_product.drop(columns = ['Unnamed: 0',])

In [11]:
df_products.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
df_orders_products_combined_1 = df_orders_products_combined.drop(columns = ['_merge','Unnamed: 0'])

In [13]:
# 5. Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.
orders_products_merged = df_orders_products_combined_1.merge(df_products, on = ['product_id'], how = 'left',indicator = True)

In [14]:
orders_products_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,True,196,1,0,Soda,77.0,7.0,9.0,both
1,2539329,1,prior,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both
2,2539329,1,prior,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,both
3,2539329,1,prior,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both
4,2539329,1,prior,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both

In [15]:
# 6. Confirm the results of the merge using the merge flag.
orders_products_merged ['_merge'].value_counts()

both          32404859
left_only        30200
right_only           0
Name: _merge, dtype: int64

In [17]:
orders_products_merged.to_csv(os.path.join(path, '02_Data', 'Prepared Data', 'orders_products_merged.csv'))