# 01. Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing data

In [2]:
path = r'C:\Users\santi\HiDrive\users\santina\02_Data Analytics\04_Python-Fundamentals\02-2022 Instacart Basket Analysis'

In [3]:
path

'C:\\Users\\santi\\HiDrive\\users\\santina\\02_Data Analytics\\04_Python-Fundamentals\\02-2022 Instacart Basket Analysis'

In [4]:
# import the ords_prods_merged data frame
ords_prods_merge = pd.read_pickle(os.path.join(path, '02_Data', 'Prepared Data', 'orders_products_merged.pkl' ))

In [5]:
# subset first 1.000.000 rows
df = ords_prods_merge[:1000000]

In [6]:
df.shape

(1000000, 21)

In [7]:
df.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,...,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest_day,Busiest_period_of_day
0,0,2539329,1,prior,1,2,8,NaN,True,196,...,0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average_orders
1,1,2539329,1,prior,1,2,8,NaN,True,14084,...,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average_orders
2,2,2539329,1,prior,1,2,8,NaN,True,12427,...,0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Regularly busy,Average_orders
3,3,2539329,1,prior,1,2,8,NaN,True,26088,...,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly busy,Regularly busy,Average_orders
4,4,2539329,1,prior,1,2,8,NaN,True,26405,...,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product,Regularly busy,Regularly busy,Average_orders

In [8]:
# group data by product_name
df.groupby('product_name')

In [9]:
# group by department_id
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              14.792915
2.0              17.091743
3.0              17.919589
4.0              17.891973
5.0              15.214270
6.0              15.382228
7.0              17.699986
8.0              16.485269
9.0              15.965921
10.0             20.091818
11.0             16.485395
12.0             15.615845
13.0             16.485052
14.0             17.523474
15.0             15.690354
16.0             18.014342
17.0             16.155822
18.0             19.606536
19.0             17.630236
20.0             17.138204
21.0             21.996844

In [10]:
df.groupby('department_id')['order_number'].mean()

department_id
1.0     14.792915
2.0     17.091743
3.0     17.919589
4.0     17.891973
5.0     15.214270
6.0     15.382228
7.0     17.699986
8.0     16.485269
9.0     15.965921
10.0    20.091818
11.0    16.485395
12.0    15.615845
13.0    16.485052
14.0    17.523474
15.0    15.690354
16.0    18.014342
17.0    16.155822
18.0    19.606536
19.0    17.630236
20.0    17.138204
21.0    21.996844
Name: order_number, dtype: float64

In [11]:
# perform multiple aggregations
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1.0              14.792915   1  99
2.0              17.091743   1  98
3.0              17.919589   1  99
4.0              17.891973   1  99
5.0              15.214270   1  99
6.0              15.382228   1  99
7.0              17.699986   1  99
8.0              16.485269   1  91
9.0              15.965921   1  99
10.0             20.091818   1  99
11.0             16.485395   1  99
12.0             15.615845   1  99
13.0             16.485052   1  99
14.0             17.523474   1  99
15.0             15.690354   1  99
16.0             18.014342   1  99
17.0             16.155822   1  99
18.0             19.606536   1  99
19.0             17.630236   1  99
20.0             17.138204   1  99
21.0             21.996844   1  97

In [12]:
# create flags for loyalty in ords_prods_merge df
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [13]:
ords_prods_merge.head(15)

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,...,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest_day,Busiest_period_of_day,max_order
0,0,2539329,1,prior,1,2,8,NaN,True,196,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,10
1,1,2539329,1,prior,1,2,8,NaN,True,14084,...,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,10
2,2,2539329,1,prior,1,2,8,NaN,True,12427,...,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Regularly busy,Average_orders,10
3,3,2539329,1,prior,1,2,8,NaN,True,26088,...,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly busy,Regularly busy,Average_orders,10
4,4,2539329,1,prior,1,2,8,NaN,True,26405,...,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product,Regularly busy,Regularly busy,Average_orders,10
5,5,2398795,1,prior,2,3,7,15.0,False,196,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Slowest_days,Most_orders,10
6,6,2398795,1,prior,2,3,7,15.0,False,10258,...,Pistachios,117.0,19.0,3.0,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
7,7,2398795,1,prior,2,3,7,15.0,False,12427,...,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
8,8,2398795,1,prior,2,3,7,15.0,False,13176,...,Bag of Organic Bananas,24.0,4.0,10.3,both,Mid-range product,Regularly busy,Slowest_days,Most_orders,10
9,9,2398795,1,prior,2,3,7,15.0,False,26088,...,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
10,10,2398795,1,prior,2,3,7,15.0,False,13032,...,Cinnamon Toast Crunch,121.0,14.0,4.0,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
11,11,473747,1,prior,3,3,12,21.0,False,196,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Slowest_days,Most_orders,10
12,12,473747,1,prior,3,3,12,21.0,False,12427,...,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
13,13,473747,1,prior,3,3,12,21.0,False,10258,...,Pistachios,117.0,19.0,3.0,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
14,14,473747,1,prior,3,3,12,21.0,False,25133,...,Organic String Cheese,21.0,16.0,8.6,both,Mid-range product,Regularly busy,Slowest_days,Most_orders,10

In [14]:
pd.options.display.max_rows = None

In [15]:
ords_prods_merge.head(15)

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,...,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest_day,Busiest_period_of_day,max_order
0,0,2539329,1,prior,1,2,8,NaN,True,196,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,10
1,1,2539329,1,prior,1,2,8,NaN,True,14084,...,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,10
2,2,2539329,1,prior,1,2,8,NaN,True,12427,...,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Regularly busy,Average_orders,10
3,3,2539329,1,prior,1,2,8,NaN,True,26088,...,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly busy,Regularly busy,Average_orders,10
4,4,2539329,1,prior,1,2,8,NaN,True,26405,...,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product,Regularly busy,Regularly busy,Average_orders,10
5,5,2398795,1,prior,2,3,7,15.0,False,196,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Slowest_days,Most_orders,10
6,6,2398795,1,prior,2,3,7,15.0,False,10258,...,Pistachios,117.0,19.0,3.0,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
7,7,2398795,1,prior,2,3,7,15.0,False,12427,...,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
8,8,2398795,1,prior,2,3,7,15.0,False,13176,...,Bag of Organic Bananas,24.0,4.0,10.3,both,Mid-range product,Regularly busy,Slowest_days,Most_orders,10
9,9,2398795,1,prior,2,3,7,15.0,False,26088,...,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
10,10,2398795,1,prior,2,3,7,15.0,False,13032,...,Cinnamon Toast Crunch,121.0,14.0,4.0,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
11,11,473747,1,prior,3,3,12,21.0,False,196,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Slowest_days,Most_orders,10
12,12,473747,1,prior,3,3,12,21.0,False,12427,...,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
13,13,473747,1,prior,3,3,12,21.0,False,10258,...,Pistachios,117.0,19.0,3.0,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
14,14,473747,1,prior,3,3,12,21.0,False,25133,...,Organic String Cheese,21.0,16.0,8.6,both,Mid-range product,Regularly busy,Slowest_days,Most_orders,10

In [16]:
ords_prods_merge.head(100)

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,...,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest_day,Busiest_period_of_day,max_order
0,0,2539329,1,prior,1,2,8,NaN,True,196,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,10
1,1,2539329,1,prior,1,2,8,NaN,True,14084,...,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,10
2,2,2539329,1,prior,1,2,8,NaN,True,12427,...,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Regularly busy,Average_orders,10
3,3,2539329,1,prior,1,2,8,NaN,True,26088,...,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly busy,Regularly busy,Average_orders,10
4,4,2539329,1,prior,1,2,8,NaN,True,26405,...,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product,Regularly busy,Regularly busy,Average_orders,10
5,5,2398795,1,prior,2,3,7,15.0,False,196,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Slowest_days,Most_orders,10
6,6,2398795,1,prior,2,3,7,15.0,False,10258,...,Pistachios,117.0,19.0,3.0,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
7,7,2398795,1,prior,2,3,7,15.0,False,12427,...,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
8,8,2398795,1,prior,2,3,7,15.0,False,13176,...,Bag of Organic Bananas,24.0,4.0,10.3,both,Mid-range product,Regularly busy,Slowest_days,Most_orders,10
9,9,2398795,1,prior,2,3,7,15.0,False,26088,...,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
10,10,2398795,1,prior,2,3,7,15.0,False,13032,...,Cinnamon Toast Crunch,121.0,14.0,4.0,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
11,11,473747,1,prior,3,3,12,21.0,False,196,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Slowest_days,Most_orders,10
12,12,473747,1,prior,3,3,12,21.0,False,12427,...,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
13,13,473747,1,prior,3,3,12,21.0,False,10258,...,Pistachios,117.0,19.0,3.0,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
14,14,473747,1,prior,3,3,12,21.0,False,25133,...,Organic String Cheese,21.0,16.0,8.6,both,Mid-range product,Regularly busy,Slowest_days,Most_orders,10
15,15,473747,1,prior,3,3,12,21.0,False,30450,...,Creamy Almond Butter,88.0,13.0,3.2,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
16,16,2254736,1,prior,4,4,7,29.0,False,196,...,Soda,77.0,7.0,9.0,both,Mid-range product,Least busy,Slowest_days,Most_orders,10
17,17,2254736,1,prior,4,4,7,29.0,False,12427,...,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Least busy,Slowest_days,Most_orders,10
18,18,2254736,1,prior,4,4,7,29.0,False,10258,...,Pistachios,117.0,19.0,3.0,both,Low-range product,Least busy,Slowest_days,Most_orders,10
19,19,2254736,1,prior,4,4,7,29.0,False,25133,...,Organic String Cheese,21.0,16.0,8.6,both,Mid-range product,Least busy,Slowest_days,Most_orders,10
20,20,2254736,1,prior,4,4,7,29.0,False,26405,...,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product,Least busy,Slowest_days,Most_orders,10
21,21,431534,1,prior,5,4,15,28.0,False,196,...,Soda,77.0,7.0,9.0,both,Mid-range product,Least busy,Slowest_days,Most_orders,10
22,22,431534,1,prior,5,4,15,28.0,False,12427,...,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Least busy,Slowest_days,Most_orders,10
23,23,431534,1,prior,5,4,15,28.0,False,10258,...,Pistachios,117.0,19.0,3.0,both,Low-range product,Least busy,Slowest_days,Most_orders,10
24,24,431534,1,prior,5,4,15,28.0,False,25133,...,Organic String Cheese,21.0,16.0,8.6,both,Mid-range product,Least busy,Slowest_days,Most_orders,10
25,25,431534,1,prior,5,4,15,28.0,False,10326,...,Organic Fuji Apples,24.0,4.0,2.7,both,Low-range product,Least busy,Slowest_days,Most_orders,10
26,26,431534,1,prior,5,4,15,28.0,False,17122,...,Honeycrisp Apples,24.0,4.0,14.0,both,Mid-range product,Least busy,Slowest_days,Most_orders,10
27,27,431534,1,prior,5,4,15,28.0,False,41787,...,Bartlett Pears,24.0,4.0,5.0,both,Low-range product,Least busy,Slowest_days,Most_orders,10
28,28,431534,1,prior,5,4,15,28.0,False,13176,...,Bag of Organic Bananas,24.0,4.0,10.3,both,Mid-range product,Least busy,Slowest_days,Most_orders,10
29,29,3367565,1,prior,6,2,7,19.0,False,196,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,10
30,30,3367565,1,prior,6,2,7,19.0,False,12427,...,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Regularly busy,Most_orders,10
31,31,3367565,1,prior,6,2,7,19.0,False,10258,...,Pistachios,117.0,19.0,3.0,both,Low-range product,Regularly busy,Regularly busy,Most_orders,10
32,32,3367565,1,prior,6,2,7,19.0,False,25133,...,Organic String Cheese,21.0,16.0,8.6,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,10
33,33,550135,1,prior,7,1,9,20.0,False,196,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Busiest_days,Most_orders,10
34,34,550135,1,prior,7,1,9,20.0,False,10258,...,Pistachios,117.0,19.0,3.0,both,Low-range product,Regularly busy,Busiest_days,Most_orders,10
35,35,550135,1,prior,7,1,9,20.0,False,12427,...,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Busiest_days,Most_orders,10
36,36,550135,1,prior,7,1,9,20.0,False,25133,...,Organic String Cheese,21.0,16.0,8.6,both,Mid-range product,Regularly busy,Busiest_days,Most_orders,10
37,37,550135,1,prior,7,1,9,20.0,False,13032,...,Cinnamon Toast Crunch,121.0,14.0,4.0,both,Low-range product,Regularly busy,Busiest_days,Most_orders,10
38,38,3108588,1,prior,8,1,14,14.0,False,12427,...,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Busiest_days,Most_orders,10
39,39,3108588,1,prior,8,1,14,14.0,False,196,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Busiest_days,Most_orders,10
40,40,3108588,1,prior,8,1,14,14.0,False,10258,...,Pistachios,117.0,19.0,3.0,both,Low-range product,Regularly busy,Busiest_days,Most_orders,10
41,41,3108588,1,prior,8,1,14,14.0,False,25133,...,Organic String Cheese,21.0,16.0,8.6,both,Mid-range product,Regularly busy,Busiest_days,Most_orders,10
42,42,3108588,1,prior,8,1,14,14.0,False,46149,...,Zero Calorie Cola,77.0,7.0,13.4,both,Mid-range product,Regularly busy,Busiest_days,Most_orders,10
43,43,3108588,1,prior,8,1,14,14.0,False,49235,...,Organic Half & Half,53.0,16.0,1.8,both,Low-range product,Regularly busy,Busiest_days,Most_orders,10
44,44,2295261,1,prior,9,1,16,0.0,False,49235,...,Organic Half & Half,53.0,16.0,1.8,both,Low-range product,Regularly busy,Busiest_days,Most_orders,10
45,45,2295261,1,prior,9,1,16,0.0,False,46149,...,Zero Calorie Cola,77.0,7.0,13.4,both,Mid-range product,Regularly busy,Busiest_days,Most_orders,10
46,46,2295261,1,prior,9,1,16,0.0,False,25133,...,Organic String Cheese,21.0,16.0,8.6,both,Mid-range product,Regularly busy,Busiest_days,Most_orders,10
47,47,2295261,1,prior,9,1,16,0.0,False,196,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Busiest_days,Most_orders,10
48,48,2295261,1,prior,9,1,16,0.0,False,10258,...,Pistachios,117.0,19.0,3.0,both,Low-range product,Regularly busy,Busiest_days,Most_orders,10
49,49,2295261,1,prior,9,1,16,0.0,False,12427,...,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Busiest_days,Most_orders,10
50,50,2550362,1,prior,10,4,8,30.0,False,196,...,Soda,77.0,7.0,9.0,both,Mid-range product,Least busy,Slowest_days,Average_orders,10
51,51,2550362,1,prior,10,4,8,30.0,False,46149,...,Zero Calorie Cola,77.0,7.0,13.4,both,Mid-range product,Least busy,Slowest_days,Average_orders,10
52,52,2550362,1,prior,10,4,8,30.0,False,39657,...,Milk Chocolate Almonds,45.0,19.0,6.8,both,Mid-range product,Least busy,Slowest_days,Average_orders,10
53,53,2550362,1,prior,10,4,8,30.0,False,38928,...,0% Greek Strained Yogurt,120.0,16.0,12.6,both,Mid-range product,Least busy,Slowest_days,Average_orders,10
54,54,2550362,1,prior,10,4,8,30.0,False,25133,...,Organic String Cheese,21.0,16.0,8.6,both,Mid-range product,Least busy,Slowest_days,Average_orders,10
55,55,2550362,1,prior,10,4,8,30.0,False,10258,...,Pistachios,117.0,19.0,3.0,both,Low-range product,Least busy,Slowest_days,Average_orders,10
56,56,2550362,1,prior,10,4,8,30.0,False,35951,...,Organic Unsweetened Almond Milk,91.0,16.0,1.3,both,Low-range product,Least busy,Slowest_days,Average_orders,10
57,57,2550362,1,prior,10,4,8,30.0,False,13032,...,Cinnamon Toast Crunch,121.0,14.0,4.0,both,Low-range product,Least busy,Slowest_days,Average_orders,10
58,58,2550362,1,prior,10,4,8,30.0,False,12427,...,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Least busy,Slowest_days,Average_orders,10
59,59,2168274,2,prior,1,2,11,NaN,True,32792,...,Chipotle Beef & Pork Realstick,23.0,19.0,5.2,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,14
60,60,2168274,2,prior,1,2,11,NaN,True,47766,...,Organic Avocado,24.0,4.0,6.3,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,14
61,61,2168274,2,prior,1,2,11,NaN,True,20574,...,Roasted Turkey,96.0,20.0,2.3,both,Low-range product,Regularly busy,Regularly busy,Most_orders,14
62,62,2168274,2,prior,1,2,11,NaN,True,12000,...,Baked Organic Sea Salt Crunchy Pea Snack,72.0,13.0,10.9,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,14
63,63,2168274,2,prior,1,2,11,NaN,True,48110,...,Thin Stackers Brown Rice Lightly Salted,78.0,19.0,2.7,both,Low-range product,Regularly busy,Regularly busy,Most_orders,14
64,64,2168274,2,prior,1,2,11,NaN,True,22474,...,Cheddar Bunnies Snack Crackers,78.0,19.0,4.1,both,Low-range product,Regularly busy,Regularly busy,Most_orders,14
65,65,2168274,2,prior,1,2,11,NaN,True,16589,...,Plantain Chips,107.0,19.0,5.0,both,Low-range product,Regularly busy,Regularly busy,Most_orders,14
66,66,2168274,2,prior,1,2,11,NaN,True,35917,...,Organic Just Concord Grape Juice,98.0,7.0,9.4,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,14
67,67,2168274,2,prior,1,2,11,NaN,True,27344,...,Uncured Genoa Salami,96.0,20.0,14.8,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,14
68,68,2168274,2,prior,1,2,11,NaN,True,30489,...,Original Hummus,67.0,20.0,7.5,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,14
69,69,2168274,2,prior,1,2,11,NaN,True,27966,...,Organic Raspberries,123.0,4.0,4.4,both,Low-range product,Regularly busy,Regularly busy,Most_orders,14
70,70,2168274,2,prior,1,2,11,NaN,True,13176,...,Bag of Organic Bananas,24.0,4.0,10.3,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,14
71,71,2168274,2,prior,1,2,11,NaN,True,45066,...,Honeycrisp Apple,24.0,4.0,2.5,both,Low-range product,Regularly busy,Regularly busy,Most_orders,14
72,72,1501582,2,prior,2,5,10,10.0,False,16797,...,Strawberries,24.0,4.0,1.3,both,Low-range product,Regularly busy,Regularly busy,Average_orders,14
73,73,1501582,2,prior,2,5,10,10.0,False,47526,...,Goat Cheese Log,21.0,16.0,2.0,both,Low-range product,Regularly busy,Regularly busy,Average_orders,14
74,74,1501582,2,prior,2,5,10,10.0,False,8479,...,Original Black Box Tablewater Cracker,78.0,19.0,3.5,both,Low-range product,Regularly busy,Regularly busy,Average_orders,14
75,75,1501582,2,prior,2,5,10,10.0,False,47766,...,Organic Avocado,24.0,4.0,6.3,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,14
76,76,1501582,2,prior,2,5,10,10.0,False,19051,...,"Pita Chips, Simply Naked, Party Size",107.0,19.0,3.9,both,Low-range product,Regularly busy,Regularly busy,Average_orders,14
77,77,1501582,2,prior,2,5,10,10.0,False,8138,...,Traditional Hummus,67.0,20.0,2.0,both,Low-range product,Regularly busy,Regularly busy,Average_orders,14
78,78,1901567,2,prior,3,1,10,3.0,False,47766,...,Organic Avocado,24.0,4.0,6.3,both,Mid-range product,Regularly busy,Busiest_days,Average_orders,14
79,79,1901567,2,prior,3,1,10,3.0,False,32792,...,Chipotle Beef & Pork Realstick,23.0,19.0,5.2,both,Mid-range product,Regularly busy,Busiest_days,Average_orders,14
80,80,1901567,2,prior,3,1,10,3.0,False,20574,...,Roasted Turkey,96.0,20.0,2.3,both,Low-range product,Regularly busy,Busiest_days,Average_orders,14
81,81,1901567,2,prior,3,1,10,3.0,False,7781,...,Organic Sticks Low Moisture Part Skim Mozzarel...,21.0,16.0,6.6,both,Mid-range product,Regularly busy,Busiest_days,Average_orders,14
82,82,1901567,2,prior,3,1,10,3.0,False,28874,...,Carrot Ginger Soup,1.0,20.0,6.2,both,Mid-range product,Regularly busy,Busiest_days,Average_orders,14
83,83,738281,2,prior,4,2,10,8.0,False,49451,...,Artichoke Spinach Dip,67.0,20.0,7.1,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,14
84,84,738281,2,prior,4,2,10,8.0,False,32792,...,Chipotle Beef & Pork Realstick,23.0,19.0,5.2,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,14
85,85,738281,2,prior,4,2,10,8.0,False,32139,...,Hommus Classic Original,67.0,20.0,7.5,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,14
86,86,738281,2,prior,4,2,10,8.0,False,34688,...,Good Belly Probiotics Juice Drink Blueberry Ac...,31.0,7.0,5.8,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,14
87,87,738281,2,prior,4,2,10,8.0,False,36735,...,Organic Roasted Sliced Chicken Breast,96.0,20.0,8.9,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,14
88,88,738281,2,prior,4,2,10,8.0,False,37646,...,Organic Gala Apples,24.0,4.0,9.1,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,14
89,89,738281,2,prior,4,2,10,8.0,False,22829,...,Multigrain Flax Seeded Flatbread Crackers,78.0,19.0,5.5,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,14
90,90,738281,2,prior,4,2,10,8.0,False,24852,...,Banana,24.0,4.0,12.3,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,14
91,91,738281,2,prior,4,2,10,8.0,False,47209,...,Organic Hass Avocado,24.0,4.0,4.0,both,Low-range product,Regularly busy,Regularly busy,Average_orders,14
92,92,738281,2,prior,4,2,10,8.0,False,33276,...,Kalamata Olive Spread,67.0,20.0,10.8,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,14
93,93,738281,2,prior,4,2,10,8.0,False,45613,...,Pad Thai,38.0,1.0,12.6,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,14
94,94,738281,2,prior,4,2,10,8.0,False,9681,...,Chicken Tikka Masala with Cumin Infused Basmat...,38.0,1.0,2.0,both,Low-range product,Regularly busy,Regularly busy,Average_orders,14
95,95,738281,2,prior,4,2,10,8.0,False,21150,...,Fire Grilled Steak Bowl,38.0,1.0,5.9,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,14
96,96,1673511,2,prior,5,3,11,8.0,False,47144,...,Unsweetened Original Almond Breeze Almond Milk,91.0,16.0,14.0,both,Mid-range product,Regularly busy,Slowest_days,Most_orders,14
97,97,1673511,2,prior,5,3,11,8.0,False,5322,...,Gluten Free Dark Chocolate Chunk Chewy with a ...,3.0,19.0,2.9,both,Low-range product,Regularly busy,Slowest_days,Most_orders,14
98,98,1673511,2,prior,5,3,11,8.0,False,17224,...,Oats & Honey Gluten Free Granola,3.0,19.0,1.6,both,Low-range product,Regularly busy,Slowest_days,Most_orders,14
99,99,1673511,2,prior,5,3,11,8.0,False,38656,...,Gluten Free Peanut Butter Dark Chocolate Chewy...,3.0,19.0,3.4,both,Low-range product,Regularly busy,Slowest_days,Most_orders,14

In [17]:
#add loyalty flag

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [18]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15891507
Loyal customer      10294027
New customer         6249525
Name: loyalty_flag, dtype: int64

In [19]:
ords_prods_merge.head(5)

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,...,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest_day,Busiest_period_of_day,max_order,loyalty_flag
0,0,2539329,1,prior,1,2,8,NaN,True,196,...,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,10,New customer
1,1,2539329,1,prior,1,2,8,NaN,True,14084,...,91.0,16.0,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,10,New customer
2,2,2539329,1,prior,1,2,8,NaN,True,12427,...,23.0,19.0,4.4,both,Low-range product,Regularly busy,Regularly busy,Average_orders,10,New customer
3,3,2539329,1,prior,1,2,8,NaN,True,26088,...,23.0,19.0,4.7,both,Low-range product,Regularly busy,Regularly busy,Average_orders,10,New customer
4,4,2539329,1,prior,1,2,8,NaN,True,26405,...,54.0,17.0,1.0,both,Low-range product,Regularly busy,Regularly busy,Average_orders,10,New customer

In [20]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             1
2         1      New customer             1
3         1      New customer             1
4         1      New customer             1
5         1      New customer             2
6         1      New customer             2
7         1      New customer             2
8         1      New customer             2
9         1      New customer             2
10        1      New customer             2
11        1      New customer             3
12        1      New customer             3
13        1      New customer             3
14        1      New customer             3
15        1      New customer             3
16        1      New customer             4
17        1      New customer             4
18        1      New customer             4
19        1      New customer             4
20        1      New customer             4
21        1      New customer             5
22        1      New customer             5
23        1      New customer             5
24        1      New customer             5
25        1      New customer             5
26        1      New customer             5
27        1      New customer             5
28        1      New customer             5
29        1      New customer             6
30        1      New customer             6
31        1      New customer             6
32        1      New customer             6
33        1      New customer             7
34        1      New customer             7
35        1      New customer             7
36        1      New customer             7
37        1      New customer             7
38        1      New customer             8
39        1      New customer             8
40        1      New customer             8
41        1      New customer             8
42        1      New customer             8
43        1      New customer             8
44        1      New customer             9
45        1      New customer             9
46        1      New customer             9
47        1      New customer             9
48        1      New customer             9
49        1      New customer             9
50        1      New customer            10
51        1      New customer            10
52        1      New customer            10
53        1      New customer            10
54        1      New customer            10
55        1      New customer            10
56        1      New customer            10
57        1      New customer            10
58        1      New customer            10
59        2  Regular customer             1

In [22]:
# aggregated mean of the “order_number” column grouped by “department_id” for entire data frame.
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              15.457838
2.0              17.277920
3.0              17.170395
4.0              17.811403
5.0              15.215751
6.0              16.439806
7.0              17.225802
8.0              15.340650
9.0              15.895474
10.0             20.197148
11.0             16.170638
12.0             15.887671
13.0             16.583536
14.0             16.773669
15.0             16.165037
16.0             17.665606
17.0             15.694469
18.0             19.310397
19.0             17.177343
20.0             16.473447
21.0             22.902379

In [23]:
# Analyze the result/ compare the subset to the entire data frame
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              14.792915
2.0              17.091743
3.0              17.919589
4.0              17.891973
5.0              15.214270
6.0              15.382228
7.0              17.699986
8.0              16.485269
9.0              15.965921
10.0             20.091818
11.0             16.485395
12.0             15.615845
13.0             16.485052
14.0             17.523474
15.0             15.690354
16.0             18.014342
17.0             16.155822
18.0             19.606536
19.0             17.630236
20.0             17.138204
21.0             21.996844

The two sets are extremely close in their means with the first 1000000 having a slightly higher mean than the group as a whole. This can make sense as sections of the data can differ slightly from the whole, but it all gravitates toward the mean of the whole.

In [24]:
# check spending habits of the three types of customers identified
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

Loyal customers tend to spend an average of $10 while newer customers spend 13 and regular customers spend 12,5 It can be seen that in my dataframe there must still be a mistake in the higherst price of a product.

In [25]:
# Create spending flag for each user based on the average price across all their 
#If the mean of the prices of products purchased by a user is lower than 10,  flag as a “Low spender.”
#If the mean of the prices of products purchased by a user is higher than or equal to 10, flag as a “High spender.”

ords_prods_merge.groupby('user_id').agg({'prices': ['mean', 'min', 'max']}).head(5)

           prices
             mean  min   max
user_id
1        6.367797  1.0  14.0
2        7.515897  1.3  14.8
3        8.197727  1.3  14.4
4        8.205556  1.4  14.6
5        9.189189  3.2  14.8

In [26]:
ords_prods_merge['spending'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

ords_prods_merge.loc[ords_prods_merge['spending'] < 10, 'spending_flag'] = 'Low Spender'
ords_prods_merge.loc[ords_prods_merge['spending'] >= 10, 'spending_flag'] = 'High Spender'

In [27]:
df_1 = ords_prods_merge[['user_id', 'spending_flag', 'spending']]

In [28]:
ords_prods_merge[['user_id', 'spending_flag', 'spending']].head(10)

   user_id spending_flag  spending
0        1   Low Spender  6.367797
1        1   Low Spender  6.367797
2        1   Low Spender  6.367797
3        1   Low Spender  6.367797
4        1   Low Spender  6.367797
5        1   Low Spender  6.367797
6        1   Low Spender  6.367797
7        1   Low Spender  6.367797
8        1   Low Spender  6.367797
9        1   Low Spender  6.367797

In [29]:
#Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median 
#in the “days_since_prior_order” column. 

#If the median of “days_since_prior_order” is higher than 20, customer should be labeled a “Non-frequent customer.”
#If the median is higher than 10 and lower than or equal to 20, customer should be labeled a “Regular customer.”
#If the median is lower than or equal to 10, customer should be labeled a “Frequent customer.”

ords_prods_merge['frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [30]:
ords_prods_merge.loc[ords_prods_merge['frequency'] > 20, 'frequency_flag'] = 'Non-frequent customer'

ords_prods_merge.loc[(ords_prods_merge['frequency'] <= 20) & (ords_prods_merge['frequency'] > 10), 'frequency_flag'] = 'Regular customer'

ords_prods_merge.loc[ords_prods_merge['frequency'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [31]:
ords_prods_merge[['user_id', 'frequency', 'frequency_flag']].head(10)

   user_id  frequency         frequency_flag
0        1       20.5  Non-frequent customer
1        1       20.5  Non-frequent customer
2        1       20.5  Non-frequent customer
3        1       20.5  Non-frequent customer
4        1       20.5  Non-frequent customer
5        1       20.5  Non-frequent customer
6        1       20.5  Non-frequent customer
7        1       20.5  Non-frequent customer
8        1       20.5  Non-frequent customer
9        1       20.5  Non-frequent customer

In [32]:
# export data frame as pickle
ords_prods_merge.to_pickle(os.path.join(path, '02_Data','Prepared Data', '4.8_ords_prods_merge.pkl'))